<div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            1 - Personal details
        </div>
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            2 - Contact details
        </div>
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            3 - Skills
        </div>
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            4 - Work experience
          </div>
</div>
    
    <div>
        <h3>Congratulations!</h3>
    </div>

    <div class="row">
            <div class="col"></div>
            <div class="col">
               <h3>Your profile has been created successfully.</h3>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
                <div class="col-11"></div>
                <div class="col-1">
                    <button type="button" class="btn btn-warning" routerLink="../start">Close</button>
                </div>
            </div>
