<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
        1 - Personal details
    </div>
    <div class="progress-bar progress-bar-striped bg-warning" style="width:25%">
        2 - Contact details
    </div>
    <div class="progress-bar progress-bar-striped bg-secondary" style="width:25%">
        3 - Skills
    </div>
    <div class="progress-bar progress-bar-striped bg-secondary" style="width:25%">
        4 - Work experience
      </div>
</div>

<div>
    Step 2: Contact details
</div>

<div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email">
            </div>
        </div>
        <div class="col"></div>
    </div>
    
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" id="mobile">
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="country">
                </div>
            </div>
            <div class="col"></div>
        </div>

<div class="row">
    <div class="col-10"></div>
    <div class="col-1">
        <button type="button" class="btn btn-info" routerLink="../personal-details">Back</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-info" routerLink="../skills">Next</button>
    </div>
</div>
