<div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            1 - Personal details
        </div>
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            2 - Contact details
        </div>
        <div class="progress-bar progress-bar-striped bg-warning" style="width:25%">
            3 - Skills
        </div>
        <div class="progress-bar progress-bar-striped bg-secondary" style="width:25%">
            4 - Work experience
          </div>
    </div>
    
    <div>
        Step 3: Skills
    </div>
    
    <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="form-group">
                    <label for="skill-1">Skill 1</label>
                    <input type="text" class="form-control" id="skill-1">
                </div>
            </div>
            <div class="col"></div>
        </div>
        
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="form-group">
                    <label for="skill-2">Skill 2:</label>
                    <input type="text" class="form-control" id="skill-2">
                </div>
            </div>
            <div class="col"></div>
        </div>
    
        <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="form-group">
                        <label for="skill-3">Skill 3:</label>
                        <input type="text" class="form-control" id="skill-3">
                    </div>
                </div>
                <div class="col"></div>
        </div>

        <div class="row">
                <div class="col"></div>
                <div class="col">
                    <button type="button" class="btn btn-info pull-right" disabled>+</button>
                </div>
                <div class="col"></div>
        </div>
    
    <div class="row">
        <div class="col-10"></div>
        <div class="col-1">
            <button type="button" class="btn btn-info" routerLink="../contact-details">Back</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-info" routerLink="../work-experience">Next</button>
        </div>
    </div>
    
