<div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning" style="width:25%">
        1 - Personal details
    </div>
    <div class="progress-bar progress-bar-striped bg-secondary" style="width:25%">
        2 - Contact details
    </div>
    <div class="progress-bar progress-bar-striped bg-secondary" style="width:25%">
        3 - Skills
    </div>
    <div class="progress-bar progress-bar-striped bg-secondary" style="width:25%">
        4 - Work experience
      </div>
</div>

<div>
    Step 1: Personal details
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="form-group">
            <label for="firstname">Firstame:</label>
            <input type="text" class="form-control" id="firstname">
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" class="form-control" id="lastname">
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col-11"></div>
    <div class="col-1">
        <button type="button" class="btn btn-info" routerLink="../contact-details">Next</button>
    </div>
</div>