<div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            1 - Personal details
        </div>
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            2 - Contact details
        </div>
        <div class="progress-bar progress-bar-striped bg-success" style="width:25%">
            3 - Skills
        </div>
        <div class="progress-bar progress-bar-striped bg-warning" style="width:25%">
            4 - Work experience
          </div>
</div>
    
    <div>
        Step 4: Work experience
    </div>
    
    <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="form-group">
                    <label for="job-1">Job 1</label>
                    <input type="text" class="form-control" id="job-1">
                </div>
            </div>
            <div class="col"></div>
        </div>
        
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="form-group">
                    <label for="job-2">Job 2:</label>
                    <input type="text" class="form-control" id="job-2">
                </div>
            </div>
            <div class="col"></div>
        </div>
    
        <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="form-group">
                        <label for="job-3">Job 3:</label>
                        <input type="text" class="form-control" id="job-3">
                    </div>
                </div>
                <div class="col"></div>
        </div>

        <div class="row">
                <div class="col"></div>
                <div class="col">
                    <button type="button" class="btn btn-info pull-right" disabled>+</button>
                </div>
                <div class="col"></div>
        </div>
    
    <div class="row">
        <div class="col-10"></div>
        <div class="col-1">
            <button type="button" class="btn btn-info" routerLink="../skills">Back</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-info" routerLink="../finished">Finish</button>
        </div>
    </div>
    

